/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    /* height: 100px; */
    width: 100%;
    z-index: 1000; 
}

.logo {
    width: 80px;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}


.header-right {
    display: flex;
}

.header-home-item,
.header-apropos-item,
.header-projets-item,
.header-experience-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    color: #fefcfb; 
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}


.header-home-item:hover,
.header-apropos-item:hover,
.header-projets-item:hover,
.header-experience-item:hover {
    color: #fefcfb;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #eb8329;
}
